{
  "extends": "airbnb",
  "parser": "@babel/eslint-parser",
  "ecmaFeatures": {
    "classes": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".js", ".jsx"] }
    ],
    "jsx-quotes": [2, "prefer-single"],
    "linebreak-style": 0
  }
}
